<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>预约挂号单 – 个人中心 | </title>
    <meta name="description" content="择医网择医网 - 网上挂号，网上预约，找医院，找医生" />
    <meta name="keywords" content="择医网，择医网，网上挂号，网上预约，找医院，找医生" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/portal.base.min.css?v=1535436384237752" type="text/css" />
    <link rel="stylesheet" href="css/portal.basic.min.css?v=1535436384237752" type="text/css" />
    <link rel="stylesheet" href="css/portal.hdd.min.css?v=1535436384237752" type="text/css" />
    <link rel="stylesheet" href="css/portal.content.min.css?v=1535436384237752" type="text/css" />
    <link rel="stylesheet" href="css/style.min.css?v=1535436384237752" type="text/css" />
    <link rel="stylesheet" href="css/animate.min.css?v=20141222" type="text/css" />
    <!--[if IE 6]>
		<link rel="stylesheet" type="text/css" media="screen" href="css/ie6.css?v=1535436384237752"/>
		<![endif]-->
    <!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen" href="css/ie7.css?v=1535436384237752"/>
		<![endif]-->
    <!--[if IE 8]>
		<link rel="stylesheet" type="text/css" media="screen" href="css/ie8.css?v=1535436384237752"/>
		<![endif]-->
    <script type="text/javascript">
        $GF = [];

        GreenLine = {};
        // 打点日志全局变量
        GreenLine.Log = {

            }
            // 老的埋点，已废弃，后面统一删除HTML上的埋点
        function _smartlog(link, mod) {
            return true;
        };
    </script>
    <link rel="stylesheet" href="css/ucenter.css?v=1535436384237752" type="text/css" />
</head>

<body class="g-1200px g-page-1200">





    <div id="g-wrapper" class="g-wrapper ">
        <div id="gh">
            <!--[if lt IE 8]>
<div class="g-browser-update">你的浏览器实在太旧了，为了更加安全和方便地进行挂号，推荐您升级浏览器：<a target="_blank" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->
            <div class="gh-nav">
                <div class="container g-clear">
                    <div class="g-left">
                        <span class="text">您好
		                  15768472001</span>
                        <a href="member.html" rel="nofollow">个人中心</a>

                        <span class="line">|</span>
                        <a href="#" rel="nofollow" onmousedown="return _smartlog(this,'TOP')" monitor="public_head,publick_head,order">预约单</a>
                        <span class="line">|</span>
                        <a href="" rel="nofollow" onmousedown="return _smartlog(this,'TOP')" monitor="public_head,publick_head,myfollow">我的关注</a>
                        <span class="line">|</span>
                        <a href="" rel="nofollow" onmousedown="return _smartlog(this,'TOP')" monitor="public_head,publick_head,logout">退出</a>


                    </div>


                    <div class="g-right">
                        <a href="/" rel="nofollow" onmousedown="return _smartlog(this,'TOP')" class="go-home" monitor="public_head,publick_head,wy_home"><i></i>择医网首页</a>
                        <span class="line">|</span>


                        <a href="fastcancel.html" rel="nofollow" onmousedown="return _smartlog(this,'TOP')" monitor="public_head,publick_head,ordercancel">快速取消订单</a>
                        <span class="line">|</span>
                        <a href="help.html">客服中心</a>
                    </div>
                </div>
            </div>
            <div class="gh-main">
                <div class="container g-clear">
                    <div class="gh-logo ">
                        <a href="/" class="logo " onmousedown="return _smartlog(this,'LOG')" monitor="public_logo,publick_logo,headlogo"></a>

                        <img src="" alt="择医网" class="wy-logo">
                    </div>




                    <div class="gh-search gh-web-search gh-search-left ">
                        <form class="gh-search-form" action="" name="qform">
                            <span class="gh-search-input">
				<span class="search-icon"></span>
                            <input type="text" name="q" value="" autocomplete="off" maxlength="50" class="J_SearchQ" placeholder="请输入疾病名、科室名、医院名或医生名" />
                            <input type="hidden" name="searchType" value="search" class="J_SearchType">
                            </span>
                            <a class="gbn gbt-green2 radius-right big-search-bt" href="javascript:void(0);">搜索</a>
                            <div class="clear"></div>
                        </form>
                        <div class="search-key">

                            <a monitor="public_search,public_search,searchhot" monitor-search-q="防治冠心病" monitor-click-rank="0" href="" target="_blank" class=" J_SearchHot">
						 	防治冠心病
	    				</a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="高血压病" monitor-click-rank="1" href="/s.html?q=%E9%AB%98%E8%A1%80%E5%8E%8B%E7%97%85" class=" J_SearchHot">
						 	高血压病
	    				</a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="流感" monitor-click-rank="2" href="/s.html?q=%E6%B5%81%E6%84%9F" class=" J_SearchHot">
						 	流感
	    				</a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="心肌梗塞" monitor-click-rank="3" href="/s.html?q=%E5%BF%83%E8%82%8C%E6%A2%97%E5%A1%9E" class=" J_SearchHot">
						 	心肌梗塞
	    				</a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="骨折" monitor-click-rank="4" href="/s.html?q=%E9%AA%A8%E6%8A%98" class=" J_SearchHot">
						 	骨折
	    				</a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="心肌炎" monitor-click-rank="5" href="/s.html?q=%E5%BF%83%E8%82%8C%E7%82%8E" class=" J_SearchHot">
						 	心肌炎
	    				</a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="结膜炎" monitor-click-rank="6" href="/s.html?q=%E7%BB%93%E8%86%9C%E7%82%8E" class=" J_SearchHot">
						 	结膜炎
	    				</a>
                            <a monitor="public_search,public_search,searchhot" monitor-search-q="支气管炎" monitor-click-rank="7" href="/s.html?q=%E6%94%AF%E6%B0%94%E7%AE%A1%E7%82%8E" class=" J_SearchHot">
						 	支气管炎
	    				</a>


                        </div>
                    </div>
                    <span class="gh-search-tips"></span>
                </div>
            </div>
            <div class="gh-menu">
                <div class="container">
                    <div class="g-left search-tabs-style">
                        <a href="javascript:void(0);" class="tab-current">综合</a>
                        <a href="s.html?key=%E9%AB%98%E8%A1%80%E5%8E%8B/eteam" onmousedown="return _smartlog(this,'TOP')" monitor="public_menu,search_menu,spteam">专家团队</a>
                        <a href="s.html?key=%E9%AB%98%E8%A1%80%E5%8E%8B/expert" onmousedown="return _smartlog(this,'TOP')" monitor="public_menu,search_menu,doctor">医生</a>
                        <a href="s.html?key=%E9%AB%98%E8%A1%80%E5%8E%8B/hospital" onmousedown="return _smartlog(this,'TOP')" monitor="public_menu,search_menu,hospital">医院</a>
                        <a href="s.html?key=%E9%AB%98%E8%A1%80%E5%8E%8B/consult" onmousedown="return _smartlog(this,'TOP')" monitor="public_menu,search_menu,ask">问诊</a>
                        <a href="s.html?key=%E9%AB%98%E8%A1%80%E5%8E%8B/topic" onmousedown="return _smartlog(this,'TOP')" monitor="public_menu,search_menu,topic">內容</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="gc">




            <div class="g-container gp-search-new  gp-search-colligate-new gp-no-margin-top" id="g-cfg" data-page="colligateNew" data-module="search" data-fo-appcode="1" data-loadpop="default" data-header-fixed="1">

                <div id="g-breadcrumb">

                    <a href="#" monitor="div_head,div_head,home">首页</a>&gt;
                    <a href="#" onmousedown="return _smartlog(this,'NAV')">内科</a>&gt;
                    <a href="s.html?key=心血管内科" onmousedown="return _smartlog(this,'NAV')">心血管内科</a>&gt;
                    <span>高血压</span>
                </div>

                <div class="colligate-container gp-no-margin-top">

                    <div class="g-grid2-l">

                        <div class="search-top J_AreaFilter J_Filter">
                            <div class="search-wrap">
                                <div class="top-left">
                                    <span class="addr-icon"></span>
                                    <span class="J_Province" province-id="29">广东</span>
                                    <span class="J_City" city-id="81">深圳</span>
                                    <a href="javascript:void(0)" class="gbn gbt-blue addr-btn J_AreaSwitch" monitor="search_allpg_city,search_allpg_city,city_more">切换</a>
                                </div>
                                <!--hideProvince = true 表示江苏平台，不显示省-->
                                <div class="addr-wrap J_Area">
                                    <a href="javascript:void(0);" class="close"></a>
                                    <div class="hot-city J_HotCity">
                                        <label>热门：</label>
                                        <ul>
                                            <li><a href="javascript:void(0);" monitor="search_allpg_city,search_allPg_city,hot_cit" name="hotcity" province-id="2">上海</a></li>
                                            <li><a href="javascript:void(0);" monitor="search_allpg_city,search_allPg_city,hot_cit" name="hotcity" province-id="1">北京</a></li>
                                            <li><a href="javascript:void(0);" monitor="search_allpg_city,search_allPg_city,hot_cit" name="hotcity" city-id="79" province-id="29" province-name="广东">广州</a></li>
                                            <li><a href="javascript:void(0);" monitor="search_allpg_city,search_allPg_city,hot_cit" name="hotcity" city-id="81" province-id="29" province-name="广东">深圳</a></li>
                                            <li><a href="javascript:void(0);" monitor="search_allpg_city,search_allPg_city,hot_cit" name="hotcity" city-id="229" province-id="19" province-name="湖北">武汉</a></li>
                                            <li><a href="javascript:void(0);" monitor="search_allpg_city,search_allPg_city,hot_cit" name="hotcity" city-id="552" province-id="24" province-name="浙江">杭州</a></li>
                                            <li><a href="javascript:void(0);" monitor="search_allpg_city,search_allPg_city,hot_cit" name="hotcity" city-id="254" province-id="30" province-name="湖南">长沙</a></li>
                                            <li><a href="javascript:void(0);" monitor="search_allpg_city,search_allPg_city,hot_cit" name="hotcity" city-id="280" province-id="22" province-name="江苏">南京</a></li>
                                            <li><a href="javascript:void(0);" monitor="search_allpg_city,search_allPg_city,hot_cit" name="hotcity" province-id="4">重庆</a></li>
                                            <li><a href="javascript:void(0);" monitor="search_allpg_city,search_allPg_city,hot_cit" name="hotcity" city-id="402" province-id="21" province-name="山东">青岛</a></li>
                                            <li><a href="javascript:void(0);" monitor="search_allpg_city,search_allPg_city,hot_cit" name="hotcity" city-id="437" province-id="9" province-name="陕西">西安</a></li>
                                        </ul>
                                    </div>
                                    <div class="area-content J_AreaContent">
                                        <div class="province J_ProvinceContainer">
                                            <p class="content-title">请选择省份:</p>
                                            <ul class="J_ProvinceUl"></ul>
                                        </div>
                                        <div class="city J_CityContainer">
                                            <p class="content-title">您当前选择省份：<span class="J_SelProvince">江苏</span> <span class="back J_AreaBack" monitor="search_allpg_city,search_allPg_city,back_province">返回重选省份</span></p>
                                            <div class="J_CityWrap">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form name="fform" action="#">
                                <input type="hidden" name="q" value="高血压" />
                                <input type="hidden" name="pi" value="29" />
                                <input type="hidden" name="p" value="广东" />
                                <input type="hidden" name="ci" value="81" />
                                <input type="hidden" name="c" value="深圳" />
                                <input type="hidden" name="isStaticUrl" value="true" />
                                <input type="hidden" name="staticUrl" value="/s/高血压" />
                                <input type="hidden" name="isDiseaseUrl" value="true" />
                            </form>
                        </div>
                        <div class="disease-box to-margin">
                            <h2>
                                <span>高血压</span>
                                <strong>心血管内科<i></i></strong>
                                <a href="#" class="to-right" monitor="search_allpg_sick,search_allpg_sick,sick_more">进入疾病专区 ></a>
                            </h2>
                            <div class="cont">
                                <p class="text">
                                    高血压是以体循环动脉血压持续性增高为主要表现的临床综合征，是常见的心血管疾病。高血压分为原发性高血压和继发性高血压。继发性高血压多继发于肾、内分泌和神经系统疾病。...
                                </p>
                            </div>
                        </div>

                        <h2 class="title">相关医生<i>广东<span title="深圳">深圳</span></i>
                            <a href="s.html?key=高血压/expert" onmousedown="return _smartlog(this,'TJZJ_GD')" monitor="search_allpg,search_allpg,doctor_more">更多</a></h2>





                        <h2 class="title">专家团队</h2>

                        <div class="bottom-msg">
                            查看全部563支&nbsp;全国&nbsp; 高血压&nbsp;领域具有行业领导地位的专家团队，
                            <a href="s.html?key=%E9%AB%98%E8%A1%80%E5%8E%8B/eteam" monitor="search_allpg_spteam,search_allpg_spteam,spteam_more">详情进入......</a>
                        </div>
                        <h2 class="title">相关医院<i>广东<span title="深圳">深圳</span></i>
                            <a href="s.html?key=高血压/hospital">更多</a></h2>



                        <h2 class="title">相关问诊
                            <a href="s.html?key=高血压/consult" onmousedown="return _smartlog(this,'XGWZ_GD')" monitor="search_allpg_hisask,search_allpg_hisask,hisask_more">更多</a></h2>
                        <div class="g-consult-items to-margin">
                            <ul class="g-clear">

                                <li class="g-consult-item ">
                                    <div class="ask">
                                        <i></i> 患者：49岁微胖，检查单：心影增大，左心缘延伸扩张，双肺纹理增粗模糊。有

                                        <em>高血压</em>，近期高150低11
                                        <span class="less-content">...<a class="js-down" href="javascript:;" target="_blank" onmousedown="return _smartlog(this,'WZXQ')">&nbsp;详细</a></span>
                                        <p>发表于 2018-07-27</p>
                                        <a href="s.html?key=kengmpnna9180727171400424" class="link seo-anchor-text" target="_blank" onmousedown="return _smartlog(this,'WZXQ')" monitor="search_allpg_hisask,search_allpg_hisask,hisask">患者：49岁微胖，检查单：心影增大，左心缘延伸扩张，双肺纹理增粗模糊。有<em>高血压</em>，近期高150低11</a>
                                    </div>
                                    <div class="reply">
                                        <div class="g-doc-baseinfo">

                                            <a target="_blank" href="s.html?key=7862ce9d-5407-467f-ba8c-6fc62209ad18000" class="img" monitor="search_allpg_hisask,search_allpg_hisask,hisask">
                                                <img src="https://kano.guahao.cn/iPb2687320_image140.jpg?timestamp=1504077956258" alt="盖鲁粤" height="90" width="90" onerror="this.src='https://static.guahao.cn/img/character/doc-unknow-l.png?_=20121223';" title="盖鲁粤" />
                                            </a>

                                            <dl>
                                                <dt>
											<a target="_blank"
												href="s.html?key=7862ce9d-5407-467f-ba8c-6fc62209ad18000">盖鲁粤</a>&nbsp;&nbsp;主任医师
											    &nbsp;&nbsp;中国人民解放军总医院301医院-心血管内科
										</dt>
                                                <dd class='g-doc-d2'>
                                                    应该诊断为高血压心脏病。左心室肥厚扩大。慢性肾功能不全。关键是降血压治疗。但是最好也请肾科医生看一下
                                                    <span class="less-content">...<a class="js-down" href="s.html?key=kengmpnna9180727171400424" target="_blank">&nbsp;详细</a></span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </li>
                                <li class="g-consult-item no-margin">
                                    <div class="ask">
                                        <i></i> 症状是两年来经常头晕，近期达到3-4天一次，上周日发病较严重，人已座不稳，不能正常言语，右手发麻，
                                        <span class="less-content">...<a class="js-down" href="javascript:;" target="_blank" onmousedown="return _smartlog(this,'WZXQ')">&nbsp;详细</a></span>
                                        <p>发表于 2018-04-21</p>
                                        <a href="s.html?key=28233881aaufdhph" class="link seo-anchor-text" target="_blank" onmousedown="return _smartlog(this,'WZXQ')" monitor="search_allpg_hisask,search_allpg_hisask,hisask">症状是两年来经常头晕，近期达到3-4天一次，上周日发病较严重，人已座不稳，不能正常言语，右手发麻，</a>
                                    </div>
                                    <div class="reply">
                                        <div class="g-doc-baseinfo">

                                            <a target="_blank" href="s.html?key=7862ce9d-5407-467f-ba8c-6fc62209ad18000" class="img" monitor="search_allpg_hisask,search_allpg_hisask,hisask">
                                                <img src="https://kano.guahao.cn/iPb2687320_image140.jpg?timestamp=1504077956258" alt="盖鲁粤" height="90" width="90" onerror="this.src='https://static.guahao.cn/img/character/doc-unknow-l.png?_=20121223';" title="盖鲁粤" />
                                            </a>

                                            <dl>
                                                <dt>
											<a target="_blank"
												href="s.html?key=7862ce9d-5407-467f-ba8c-6fc62209ad18000">盖鲁粤</a>&nbsp;&nbsp;主任医师
											    &nbsp;&nbsp;中国人民解放军总医院301医院-心血管内科
										</dt>
                                                <dd class='g-doc-d2'>
                                                    好像是左锁骨下动脉的高度狭窄。左锁骨下动脉狭窄，可以造成窃血，引起神经系统的症状。如果有窃血可以做支
                                                    <span class="less-content">...<a class="js-down" href="s.html?key=28233881aaufdhph" target="_blank">&nbsp;详细</a></span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </li>
                                <li class="g-consult-item ">
                                    <div class="ask">
                                        <i></i> 医生好，我是今年头昏到医院检查一下，说有

                                        <em>高血压</em>，高血脂症，室性早搏，我家里父亲没<em>高血压</em>，母亲有，遗
                                        <span class="less-content">...<a class="js-down" href="javascript:;" target="_blank" onmousedown="return _smartlog(this,'WZXQ')">&nbsp;详细</a></span>
                                        <p>发表于 2018-02-08</p>
                                        <a href="s.html?key=24789840m30mqhtq" class="link seo-anchor-text" target="_blank" onmousedown="return _smartlog(this,'WZXQ')" monitor="search_allpg_hisask,search_allpg_hisask,hisask">医生好，我是今年头昏到医院检查一下，说有<em>高血压</em>，高血脂症，室性早搏，我家里父亲没<em>高血压</em>，母亲有，遗</a>
                                    </div>
                                    <div class="reply">
                                        <div class="g-doc-baseinfo">

                                            <a target="_blank" href="s.html?key=35cb66f5-7f99-4e91-a639-a1ec21f94dac000" class="img" monitor="search_allpg_hisask,search_allpg_hisask,hisask">
                                                <img src="https://kano.guahao.cn/8bn10471197_image140.jpg?timestamp=1511771290537" alt="刘宏伟" height="90" width="90" onerror="this.src='https://static.guahao.cn/img/character/doc-unknow-l.png?_=20121223';" title="刘宏伟" />
                                            </a>

                                            <dl>
                                                <dt>
											<a target="_blank"
												href="s.html?key=35cb66f5-7f99-4e91-a639-a1ec21f94dac000">刘宏伟</a>&nbsp;&nbsp;主任医师
											    &nbsp;&nbsp;中国人民解放军总医院301医院-心血管内科
										</dt>
                                                <dd class='g-doc-d2'>
                                                    高血压极高危是医生对高血压的一种分级，一般来说血压超过180/110为3级高血压，在此基础上如果合并
                                                    <span class="less-content">...<a class="js-down" href="s.html?key=24789840m30mqhtq" target="_blank">&nbsp;详细</a></span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </li>
                                <li class="g-consult-item no-margin">
                                    <div class="ask">
                                        <i></i> 您好，我母亲长期

                                        <em>高血压</em>（目前用药三精司乐平、倍他乐克、拜阿司匹林，用药后<em>血压</em>130/90），较轻头
                                        <span class="less-content">...<a class="js-down" href="javascript:;" target="_blank" onmousedown="return _smartlog(this,'WZXQ')">&nbsp;详细</a></span>
                                        <p>发表于 2018-01-18</p>
                                        <a href="s.html?key=23706372tvsf1ktp" class="link seo-anchor-text" target="_blank" onmousedown="return _smartlog(this,'WZXQ')" monitor="search_allpg_hisask,search_allpg_hisask,hisask">您好，我母亲长期<em>高血压</em>（目前用药三精司乐平、倍他乐克、拜阿司匹林，用药后<em>血压</em>130/90），较轻头</a>
                                    </div>
                                    <div class="reply">
                                        <div class="g-doc-baseinfo">

                                            <a target="_blank" href="s.html?key=35cb66f5-7f99-4e91-a639-a1ec21f94dac000" class="img" monitor="search_allpg_hisask,search_allpg_hisask,hisask">
                                                <img src="https://kano.guahao.cn/8bn10471197_image140.jpg?timestamp=1511771290537" alt="刘宏伟" height="90" width="90" onerror="this.src='https://static.guahao.cn/img/character/doc-unknow-l.png?_=20121223';" title="刘宏伟" />
                                            </a>

                                            <dl>
                                                <dt>
											<a target="_blank"
												href="s.html?key=35cb66f5-7f99-4e91-a639-a1ec21f94dac000">刘宏伟</a>&nbsp;&nbsp;主任医师
											    &nbsp;&nbsp;中国人民解放军总医院301医院-心血管内科
										</dt>
                                                <dd class='g-doc-d2'>
                                                    高血压合并动脉硬化的治疗，主要就是控制危险因素，包括血压、血糖、血脂等，国内的药物就可以。他汀对肝脏
                                                    <span class="less-content">...<a class="js-down" href="s.html?key=23706372tvsf1ktp" target="_blank">&nbsp;详细</a></span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>





                    </div>
                    <div class="g-grid2-r">

                        <div class="g-consult-entry">
                            <div class="g-search-box box all-free">
                                <a href="hs.html?key=" onmousedown="return _smartlog(this,'MFZX')" monitor="search_allpg_resource,search_allpg_resource,freeask" class="seo-anchor-text">免费咨询</a>
                                <div class="text">
                                    <span class="main">免费咨询</span>
                                    <span class="extra">身体不适，全科问诊</span>
                                </div>
                            </div>
                            <div class="g-search-box box today-free">
                                <a href="#" onmousedown="return _smartlog(this,'JRYZ')" monitor="search_allpg_resource,search_allpg_resource,todayask" class="seo-anchor-text">今日义诊</a>
                                <div class="text">
                                    <span class="main">今日义诊</span>
                                    <span class="extra">特邀专家，爱心解答</span>
                                </div>
                            </div>
                        </div>

                        <div class="g-aside-appqrcode">
                            <div class="appqrcode-content g-clear">
                                <div class="left">
                                    <div class="useapp"></div>
                                    <div class="text">
                                        1900+重点医院<br/>200,000专家
                                    </div>
                                </div>
                                <a class="qrcode-img" href="#" rel="nofollow" target="_blank"><img src=""></a>
                            </div>
                        </div>


                        <div class="g-article-items g-search-box">
                            <h2 class="title">相关文章
                                <a href="s.html?key=高血压/topic" onmousedown="return _smartlog(this,'TJZJ_GD')" monitor="hospital_activity,spdoctor,doctor_more">更多</a>
                            </h2>
                            <ul>
                                <li class="J_articleItem">
                                    <dl>
                                        <dt>
								<i></i>
								<a href="s.html?key=cbqBN24580096734068736" target="_blank" onmousedown="return _smartlog(this,'XGWZ')" monitor="search_allpg_resource,his_text,text" monitor-text-id="cbqBN24580096734068736">维生素B族居然有这么多好...</a>
							</dt>
                                        <dd>
                                            <p>舌头溃疡了失眠乏力、日渐消瘦食欲不振、排便困难、...<a href="s.html?key=cbqBN24580096734068736" target="_blank">全文</a></p>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="J_articleItem">
                                    <dl>
                                        <dt>
								<i></i>
								<a href="s.html?key=NpsRE24579912031567874" target="_blank" onmousedown="return _smartlog(this,'XGWZ')" monitor="search_allpg_resource,his_text,text" monitor-text-id="NpsRE24579912031567874">常吃粗粮好处多，控三高、...</a>
							</dt>
                                        <dd>
                                            <p>“你吃得太细致了，要多吃点粗粮！”对我们这些“吃...<a href="s.html?key=NpsRE24579912031567874" target="_blank">全文</a></p>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="J_articleItem">
                                    <dl>
                                        <dt>
								<i></i>
								<a href="s.html?key=xCznQ24576485664817152" target="_blank" onmousedown="return _smartlog(this,'XGWZ')" monitor="search_allpg_resource,his_text,text" monitor-text-id="xCznQ24576485664817152">【最新】喜欢散步的人注意...</a>
							</dt>
                                        <dd>
                                            <p>说出来您可能不信，我们每天都做也必须做的一件事，...<a href="s.html?key=xCznQ24576485664817152" target="_blank">全文</a></p>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="J_articleItem">
                                    <dl>
                                        <dt>
								<i></i>
								<a href="s.html?key=zJNvi24569753089671168" target="_blank" onmousedown="return _smartlog(this,'XGWZ')" monitor="search_allpg_resource,his_text,text" monitor-text-id="zJNvi24569753089671168">脑血管疾病主要有哪些可控...</a>
							</dt>
                                        <dd>
                                            <p>脑血管病主要包括梗死性疾病和出血性疾病，脑血管病...<a href="s.html?key=zJNvi24569753089671168" target="_blank">全文</a></p>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="J_articleItem">
                                    <dl>
                                        <dt>
								<i></i>
								<a href="s.html?key=KUMOM24568600811601922" target="_blank" onmousedown="return _smartlog(this,'XGWZ')" monitor="search_allpg_resource,his_text,text" monitor-text-id="KUMOM24568600811601922">李药师为你解读：替米沙坦...</a>
							</dt>
                                        <dd>
                                            <p>沙坦类药物是临床上常见的降压药物，替米沙坦与氯沙...<a href="s.html?key=KUMOM24568600811601922" target="_blank">全文</a></p>
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>


                        <div class="g-consult-docs g-search-box J_ExpertAds" data-type="consult">
                            <h2 class="title">推荐专家
                                <a href="s.html?key=iSq=1&ed=不限&edt=不限&q=高血压&pi=all&p=全国&ci=all&c=不限&o=all&es=all&hl=all&ht=all&hk=&dt=&dty=&hdi=&mf=true&fg=0&ipIsShanghai=false&searchAll=Y&consult=2&sort=haoyuan" onmousedown="return _smartlog(this,'TJZJ_GD')" monitor="hospital_activity,spdoctor,doctor_more">更多</a>
                            </h2>
                            <script type="text/html" class="hide">
                                <div class="g-doc-baseinfo">
                                    <a class="img" href="s.html?key=<%=this.doctorUuid%>" target="_blank" onmousedown="return _smartlog(this,'TJZJ')" monitor="hospital_activity,spdoctor,doctor" monitor-doctor-id="<%=this.doctorUuid%>">
									<img src="<%=this.doctorPhoto%>" alt="<%=this.doctorName%>" title="<%=this.doctorName%>" onerror="this.src='https://static.guahao.cn/img/character/doc-unknow.png';" /> 
								</a>
                                    <dl>
                                        <dt>
										<a href="s.html?key=<%=this.doctorUuid%>" target="_blank" title="<%=this.doctorName%>" onmousedown="return _smartlog(this,'TJZJ')" monitor="hospital_activity,spdoctor,doctor" monitor-doctor-id="<%=this.doctorUuid%>"><%=this.doctorShortName%></a>
										&nbsp;&nbsp;<%=this.doctorTechnicalTitle%>
									</dt>
                                        <dd>
                                            <%=this.hospitalName%>
                                        </dd>
                                        <dd class="type">
                                            <span class="img <%=this.img%>"><i></i>图文</span>
                                            <span class="video <%=this.video%>"><i></i>视话</span>
                                        </dd>
                                        <dd class="action" monitor="hospital_activity,spdoctor,ask">
                                            <a href="s.html?key=<%=this.doctorUuid%>?hospDeptId=<%=this.departmentUuid%>" class="bt" onmousedown="return _smartlog(this,'TJZJ')">立即问诊</a>
                                            <%=this.totalCount%>人<em>问诊</em>
                                        </dd>
                                    </dl>
                                </div>
                            </script>
                        </div>
                        <div class="g-ads-side J_Promotions" data-pos="2" data-rows="3"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="g-bottom-inner-module J_BottomInnerModule">
                    <div class="module-tab J_BottomInnerModuleTab">
                        <a href="javascript:;" class="selected" data-tab="content">高血压知识介绍</a>
                        <a href="javascript:;" data-tab="treat">高血压相关内容</a>
                        <a href="javascript:;" data-tab="doctor">高血压相关医生</a>
                        <a href="javascript:;" data-tab="hospital">高血压相关医院</a>
                    </div>
                    <div class="J_BottomInnerModuleContent">
                        <div class="module-content" data-tab="content">
                            <div class="intr">高血压知识介绍，为您提供了最全面最优质的高血压相关资讯，为您的健康问题答疑解惑，包含了疾病的前期诊断、治疗和治疗后的康复保养等丰富的信息
                            </div>
                            <div class="link">
                                <div class="J_BottomInnerModuleLink">
                                    <a href="s.html?key=symptom/44238">高血压的症状</a>
                                    <a href="s.html?key=pathogeny/44238">高血压的病因原因</a>
                                    <a href="s.html?key=treat/44238">高血压的治疗</a>
                                    <a href="s.html?key=prevent/44238">高血压的预防</a>
                                    <a href="s.html?key=test/44238">高血压做什么检查</a>
                                    <a href="s.html?key=diet/44238">高血压的饮食注意</a>
                                    <a href="s.html?key=tend/44238">高血压怎么护理</a>
                                    <a href="s.html?key=consult/44238">高血压的相关问诊</a>
                                    <a href="s.html?key=topic/44238">高血压专家文章</a>
                                    <a href="s.html?key=doctor/44238">高血压最好的医生</a>
                                    <a href="s.html?key=hospital/44238">高血压最好的医院</a>
                                </div>
                                <div class="expand hide J_BottomInnerModuleToggle">
                                    <span>展开</span>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                        <div class="module-content hide" data-tab="treat">
                            <div class="intr">高血压相关内容版块，整理了高血压在深圳相关的各地区的医生、医院、专家团队、问诊和文章等丰富的内容，为您提供更多有用的参考
                            </div>
                            <div class="link">
                                <div class="J_BottomInnerModuleLink">
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/79/%E5%B9%BF%E5%B7%9E">广州高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/81/%E6%B7%B1%E5%9C%B3">深圳高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/102/%E7%8F%A0%E6%B5%B7">珠海高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/80/%E4%BD%9B%E5%B1%B1">佛山高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/117/%E4%B8%9C%E8%8E%9E">东莞高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/82/%E6%B1%95%E5%A4%B4">汕头高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/104/%E6%B1%9F%E9%97%A8">江门高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/119/%E4%B8%AD%E5%B1%B1">中山高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/107/%E8%8C%82%E5%90%8D">茂名高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/115/%E9%98%B3%E6%B1%9F">阳江高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/108/%E8%82%87%E5%BA%86">肇庆高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/110/%E6%83%A0%E5%B7%9E">惠州高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/105/%E6%B9%9B%E6%B1%9F">湛江高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/103/%E9%9F%B6%E5%85%B3">韶关高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/116/%E6%B8%85%E8%BF%9C">清远高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/111/%E6%A2%85%E5%B7%9E">梅州高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/113/%E6%B2%B3%E6%BA%90">河源高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/121/%E6%8F%AD%E9%98%B3">揭阳高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/120/%E6%BD%AE%E5%B7%9E">潮州高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/112/%E6%B1%95%E5%B0%BE">汕尾高血压相关内容</a>
                                    <a href="s.html?key=高血压/29/%E5%B9%BF%E4%B8%9C/122/%E4%BA%91%E6%B5%AE">云浮高血压相关内容</a>
                                </div>
                                <div class="expand hide J_BottomInnerModuleToggle">
                                    <span>展开</span>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                        <div class="module-content hide" data-tab="doctor">
                            <div class="intr">高血压相关医生版块，汇集深圳相关地区高血压方面的大量好评医生，包含了医生评价信息和预约信息，让你更方便的进行网络挂号或在线问诊
                            </div>
                            <div class="link">
                                <div class="J_BottomInnerModuleLink">
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/79/%E5%B9%BF%E5%B7%9E">广州高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/81/%E6%B7%B1%E5%9C%B3">深圳高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/102/%E7%8F%A0%E6%B5%B7">珠海高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/80/%E4%BD%9B%E5%B1%B1">佛山高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/117/%E4%B8%9C%E8%8E%9E">东莞高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/82/%E6%B1%95%E5%A4%B4">汕头高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/104/%E6%B1%9F%E9%97%A8">江门高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/119/%E4%B8%AD%E5%B1%B1">中山高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/107/%E8%8C%82%E5%90%8D">茂名高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/115/%E9%98%B3%E6%B1%9F">阳江高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/108/%E8%82%87%E5%BA%86">肇庆高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/110/%E6%83%A0%E5%B7%9E">惠州高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/105/%E6%B9%9B%E6%B1%9F">湛江高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/103/%E9%9F%B6%E5%85%B3">韶关高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/116/%E6%B8%85%E8%BF%9C">清远高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/111/%E6%A2%85%E5%B7%9E">梅州高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/113/%E6%B2%B3%E6%BA%90">河源高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/121/%E6%8F%AD%E9%98%B3">揭阳高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/120/%E6%BD%AE%E5%B7%9E">潮州高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/112/%E6%B1%95%E5%B0%BE">汕尾高血压医生预约</a>
                                    <a href="s.html?key=高血压/expert/29/%E5%B9%BF%E4%B8%9C/122/%E4%BA%91%E6%B5%AE">云浮高血压医生预约</a>
                                </div>
                                <div class="expand hide J_BottomInnerModuleToggle">
                                    <span>展开</span>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                        <div class="module-content hide" data-tab="hospital">
                            <div class="intr">高血压相关医院版块，汇集深圳相关地区高血压方面的大量优质医院，包含了医院评价信息和预约信息，让你更方便的进行网络挂号预约
                            </div>
                            <div class="link">
                                <div class="J_BottomInnerModuleLink">
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/79/%E5%B9%BF%E5%B7%9E">广州高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/81/%E6%B7%B1%E5%9C%B3">深圳高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/102/%E7%8F%A0%E6%B5%B7">珠海高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/80/%E4%BD%9B%E5%B1%B1">佛山高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/117/%E4%B8%9C%E8%8E%9E">东莞高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/82/%E6%B1%95%E5%A4%B4">汕头高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/104/%E6%B1%9F%E9%97%A8">江门高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/119/%E4%B8%AD%E5%B1%B1">中山高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/107/%E8%8C%82%E5%90%8D">茂名高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/115/%E9%98%B3%E6%B1%9F">阳江高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/108/%E8%82%87%E5%BA%86">肇庆高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/110/%E6%83%A0%E5%B7%9E">惠州高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/105/%E6%B9%9B%E6%B1%9F">湛江高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/103/%E9%9F%B6%E5%85%B3">韶关高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/116/%E6%B8%85%E8%BF%9C">清远高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/111/%E6%A2%85%E5%B7%9E">梅州高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/113/%E6%B2%B3%E6%BA%90">河源高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/121/%E6%8F%AD%E9%98%B3">揭阳高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/120/%E6%BD%AE%E5%B7%9E">潮州高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/112/%E6%B1%95%E5%B0%BE">汕尾高血压医院挂号</a>
                                    <a href="s.html?key=高血压/hospital/29/%E5%B9%BF%E4%B8%9C/122/%E4%BA%91%E6%B5%AE">云浮高血压医院挂号</a>
                                </div>
                                <div class="expand hide J_BottomInnerModuleToggle">
                                    <span>展开</span>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="gf">
            <div class="g-container">
                <div class="g-footer g-clear">
                    <a class="logo g-left" href="/" onmousedown="return _smartlog(this,'BTM')"></a>
                    <div class="links g-left">
                        <dl class="one g-clear">
                            <dt>关于择医网</dt>
                            <dd><a href="#" rel="nofollow" onmousedown="return _smartlog(this,'BTM')">关于我们</a></dd>
                            <dd><a href="#" onmousedown="return _smartlog(this,'BTM')">友情链接</a></dd>
                            <dd><a href="#" rel="nofollow" onmousedown="return _smartlog(this,'BTM')">加入择医网</a></dd>
                            <dd><a href="#" rel="nofollow" onmousedown="return _smartlog(this,'BTM')">版权声明</a></dd>
                            <dd><a href="#" rel="nofollow" onmousedown="return _smartlog(this,'BTM')">联系我们</a></dd>
                            <dd class="last"><a href="#" rel="nofollow" target="_blank" onmousedown="return _smartlog(this,'BTM')">新浪微博</a></dd>
                            <dd><a href="#" onmousedown="return _smartlog(this,'BTM')">网站地图</a></dd>
                            <dd><a href="#" onmousedown="return _smartlog(this,'BTM')">知识库</a></dd>
                        </dl>
                        <dl class="two">
                            <dd class="partner"><a href="#" onmousedown="return _smartlog(this,'BTM')">医院合作</a></dd>
                            <dd class="help"><a href="#" rel="nofollow" onmousedown="return _smartlog(this,'BTM')">客服中心</a></dd>
                        </dl>
                        <div class="clear"></div>
                    </div>
                    <div class="code g-left">
                        <a class="nihe" href="http://www.nihe.org.cn" rel="nofollow" target="_blank">中国健康教育中心<br/>卫生部新闻宣传中心</a>
                        <a class="cha" href="http://www.cha.org.cn/" rel="nofollow" target="_blank">中国医院协会<br/>门急诊管理专业委员会</a>
                        <a class="fudanmed" href="http://www.fudanmed.com/manage/index.aspx" rel="nofollow" target="_blank">上海复旦医院管理公司</a>
                        <a class="cfnews" href="http://www.cfnews.org.cn" rel="nofollow" target="_blank">中国家庭报<br/>卫计委人口文化发展中心</a>
                        <div class="clear"></div>
                    </div>
                    <div class="internation g-right">
                        <a href="http://icih.h.gov.cn/" rel="nofollow" target="_blank"><i></i>
								<h3>国际互联网医疗大会</h3>
								<p>International Conference</p>
								<p>on Internet Healthcare</p>
							</a>
                    </div>
                </div>
                <p class="copyright">
                    版权所有：&nbsp;&nbsp;&nbsp;
                    <a href="#" rel="nofollow"></a>&nbsp;&nbsp;
                    <a href="#" rel="nofollow"></a>&nbsp;&nbsp;
                    <a class="alliance" href="#" target="_blank" rel="nofollow"></a>
                    <a class="alliance attestation" href="#" target="_blank" rel="nofollow"></a>
                    <a class="record" href="http://www.miibeian.gov.cn/" rel="nofollow" target="_blank"></a>

                </p>
                <div style="width:300px;margin:0 auto; padding:20px 0;">
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010902000463" rel="nofollow" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="https://static.guahao.cn/img/ghs.png" style="float:left;" />
                        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏ICP备16006821号-2</p>
                    </a>
                </div>
            </div>
        </div>

        <div id="gm-bg"></div>
        <script type="text/javascript">
            $GC = {
                debug: false,
                echartServer: '//im-web.guahao.cn',
                isLogined: false,
                guahaoServer: 'https://www.guahao.com',
                staticServer: 'https://static.guahao.cn',
                imageServer: 'https://h2img.guahao.com',
                kanoServer: 'https://kano.guahao.cn',
                serviceServer: 'https://service.guahao.com',
                eopsServer: 'http://doctor.guahao.com',
                wepayServer: 'https://wepay.guahao.com',
                mobilevalidcodepwd: 'lvxian95169124',
                version: "1537871245ee1e9f",
                encodeId: "",
                jsCPath: "https://static.guahao.cn" + "/common/js",
                jspath: "https://static.guahao.cn" + "/front/portal-pc-static/js",
                domainEnd: 'guahao.com',
                bbsServer: 'https://bbs.guahao.com',
                gatewayServer: 'https://api-gateway.guahao.com',
                cloudcardServer: "https://service-api-finance.guahao.com",
                jkljServer: 'https://www.healthhlj.cn',
                weiYiH5GuahaoServer: 'https://wy.guahao.com'
            };

            // $GS { Array } - the init parameters for startup
            $GS = [
                $GC.jspath + "/plugins/scout.js?_=1537871245ee1e9f",
                $GC.jspath + "/plugins/raven.js?_=1537871245ee1e9f",
                $GC.jsCPath + "/base/jquery-1.8.1.min.js",
                $GC.jspath + "/base/GH.js?_=1537871245ee1e9f",
                $GC.jsCPath + "/plugins/validator.js?_=20160129",
                function() {

                    // load common module
                    GL.load([GH.adaptModule("common")]);

                    // load the modules defined in page
                    var moduleName = $("#g-cfg").data("module");
                    if (moduleName) {
                        var module = GH.modules[moduleName];
                        if (!module) {
                            module = GH.adaptModule(moduleName);
                        }
                        if (module) {
                            GL.load([module]);
                        }
                    }

                    if ($GU.isIE6()) {
                        GL.load([$GC.jspath + "/hack/ie6.js"]);
                    }
                }
            ];
        </script>
        <script type="text/javascript" src="https://static.guahao.cn/front/portal-pc-static/js/base/GL.js?_=1537871245ee1e9f"></script>
        <script>
            //同盾token 发送
            (function() {
                _fmOpt = {
                    partner: 'weiyi',
                    appName: 'weiyi_web',
                    token: "weiyi-" + new Date().getTime() + '-' + Math.random().toString(16),
                    fmb: true,
                    getinfo: function() {
                        return "e3Y6ICIyLjUuMCIsIG9zOiAid2ViIiwgczogMTk5LCBlOiAianMgbm90IGRvd25sb2FkIn0=";
                    }
                };
                var cimg = new Image(1, 1);
                cimg.onload = function() {
                    _fmOpt.imgLoaded = true;
                };
                cimg.src = "https://fp.fraudmetrix.cn/fp/clear.png?partnerCode=weiyi&appName=weiyi_web&tokenId=" + _fmOpt.token;
                var fm = document.createElement('script');
                fm.type = 'text/javascript';
                fm.async = true;
                fm.src = '//static.fraudmetrix.cn/v2/fm.js?ver=0.1&t=' + (new Date().getTime() / 3600000).toFixed(0);
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fm, s);
                setTimeout(function() {
                    var fmCode = _fmOpt.getinfo();
                    if (fmCode.length <= 256) {
                        setCookie('_fm_code', _fmOpt.getinfo())
                    };
                }, 1200);

                function setCookie(name, val) {
                    var expires = '; expires=' + new Date(new Date().getTime() + 30 * 24 * 3600 * 1000).toUTCString()
                    document.cookie = [name, '=', encodeURIComponent(val), expires, '; path=/'].join('')
                }
            })();
        </script>

        <script>
            (function() {
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                } else {
                    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script>
        <div class="hide">
            <script type="text/javascript">
                (function() {

                    // baidu
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?5697507823ecd633819db0771bb99cfb";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
        </div>
</body>

</html>